---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<COORD_KEY>&location=Library%20Square,%20345%20Robson%20St,%20Vancouver,%20BC%20V6B%206B3,%20Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 22 May 2021 15:24:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Library
        Square, 345 Robson St, Vancouver, BC V6B 6B3, Canada"},"locations":[{"street":"345
        Robson Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Vancouver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"BC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"V6B","geocodeQualityCode":"P1CAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"CA/PAD/p0/9075318","unknownInput":"","type":"s","latLng":{"lat":49.2797,"lng":-123.11556},"displayLatLng":{"lat":49.2797,"lng":-123.11556},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<COORD_KEY>&type=map&size=225,160&locations=49.2797,-123.11556|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1197211673"},{"street":"345
        Dunsmuir Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Vancouver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"BC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"V6B","geocodeQualityCode":"L1CAA","geocodeQuali[...]
