---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=48.2897,-122.11556%7C46.2897,-121.11556&key=<GOOGLE_MAPS_API_KEY>&origins=49.2797,-123.11556&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Vancouver
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [
              "31501-31699 Bumgarner Rd, Arlington, WA 98223, USA",
              "Unnamed Road, Washington, USA"
           ],
           "origin_addresses" : [ "775 Hamilton St, Vancouver, BC V6B 6B3, Canada" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "106 mi",
                          "value" : 170401
                       },
                       "duration" : {
                          "text" : "2 hours 7 mins",
                          "value" : 7648
                       },
                       "status" : "OK"
                    },
                    {
                       "distance" : {
                          "text" : "334 mi",
                          "value" : 537409
                       },
                       "duration" : {
                          "text" : "6 hours 9 mins",
                          "value" : 22161
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 21 May 2021 20:40:43 GMT
recorded_with: VCR 6.0.0
