---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<COORD_KEY>&location=Library%20Square,%20345%20Robson%20St,%20Vancouver,%20BC%20V6B%206B3,%20Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 19 May 2021 03:17:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Library
        Square, 345 Robson St, Vancouver, BC V6B 6B3, Canada"},"locations":[{"street":"345
        Robson Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Vancouver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"BC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"V6B","geocodeQualityCode":"P1CAA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"CA/PAD/p0/9840645","unknownInput":"","type":"s","latLng":{"lat":49.2797,"lng":-123.11556},"displayLatLng":{"lat":49.2797,"lng":-123.11556},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<COORD_KEY>&type=map&size=225,160&locations=49.2797,-123.11556|marker-sm-50318A-1&scalebar=true&zoom=15&rand=480380614"},{"street":"345
        Dunsmuir Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Vancouver","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"BC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"V6B","geocodeQualityCode":"L1CAA","geocodeQuality[...]
- request:
    method: get
    uri: http://data.streetfoodapp.com/1.1/regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://data.streetfoodapp.com/1.1/regions/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://data.streetfoodapp.com/1.1/regions/">here</a>.</p>
        </body></html>
  recorded_at: Wed, 19 May 2021 03:17:16 GMT
- request:
    method: get
    uri: http://data.streetfoodapp.com/1.1/regions/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 19 May 2021 03:17:04 GMT
      Etag:
      - '"c31f-5c2a642d1f140"'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"identifier":"abbotsford","name":"Abbotsford","name_long":"Abbotsford,
        BC","time_zone":"America\/Vancouver","latitude":49.0504377,"longitude":-122.3044697,"country":"ca","example_location":{"address":"S
        Fraser Way & Trethewey St","latitude":49.051676,"longitude":-122.326484},"regions":[]},{"identifier":"amsterdam-ny","name":"Amsterdam","name_long":"Amsterdam,
        NY","time_zone":"America\/New_York","latitude":42.937546063804,"longitude":-74.190823048836,"country":"us","example_location":{"address":"Guy
        Park Ave & Kimball St","latitude":42.94018513,"longitude":-74.19314048},"regions":[]},{"identifier":"ballarat","name":"Ballarat","name_long":"Ballarat,
        Australia","time_zone":"Australia\/Melbourne","latitude":-37.497362927445,"longitude":143.83544921875,"country":"au","example_location":{"address":"Mair
        St & Pleasant St N","latitude":-37.557606,"longitude":143.839416},"regions":[]},{"identifier":"blaine","name":"Blaine","name_long":"Blaine,
        WA","time_zone":"America\/Vancouver","latitude":48.994075345594,"longitude":-122.74153709412,"country":"us","example_location":{"address":"Steen
        St & 4th St","latitude":48.99174167,"longitude":-122.74806559},"regions":[]},{"identifier":"boston","name":"Boston","name_long":"Boston,
        MA","time_zone":"America\/New_York","latitude":42.3600825,"longitude":-71.0588801,"country":"us","ios_app_bundle_identifier":"com.tatlowpark.streetfood.boston","ios_app_application_id":495605911,"android_app_application_id":"com.tatlowpark.streetfood.boston","android_app_url":"https:\/\/play.google.com\/store\/apps\/details?id=com.tatlowpark.streetfood.boston","ios_app_url":"https:\/\/apps.apple.com\/app\/id495605911","example_location":{"address":"Hemenway
        St & Forsyth St","latitude":42.340814,"longitude":-71.091263},"regions":[{"identifier":"chp","name":"City
        Hall Plaza","name_long":null,"time_zone":"America\/New_York","latitude":42.360501503355,"longitude":-71.058817335748,"country":"us","regions":[]},{"identifier":"greenway","name":"Greenway","name_long":null,"time_zone":"America\/New_York","latitude":42.357831151814,"longitude":-71.052827314215[...]
- request:
    method: get
    uri: http://data.streetfoodapp.com/1.1/schedule/vancouver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://data.streetfoodapp.com/1.1/schedule/vancouver/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="http://data.streetfoodapp.com/1.1/schedule/vancouver/">here</a>.</p>
        </body></html>
  recorded_at: Wed, 19 May 2021 03:17:17 GMT
- request:
    method: get
    uri: http://data.streetfoodapp.com/1.1/schedule/vancouver/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 19 May 2021 03:17:20 GMT
      Etag:
      - '"2390a-5c2a643bfaca0"'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"ads":[{"banner":{"identifier":"lucha-libre","image_url":"https:\/\/cdn.streetfoodapp.com\/images\/lucha-libre\/logo\/90w.png","image_url_2x":"https:\/\/cdn.streetfoodapp.com\/images\/lucha-libre\/logo\/90w@2x.png","title":"Lucha
        Libre Truck","subtitle":"Mexican eats on the road.","show_vendor":"lucha-libre"}}],"new":["the-brownie-bakers","bistrotvan","crack-on","babas-house","invito-coffee","little-devils","wingerz","crema-ice-cream","street-dogs-smash-burgers","rice-soup"],"regions":[{"identifier":"vancouver","name":"Vancouver","time_zone":"America\/Vancouver","example_location":[],"regions":[{"identifier":"armoury-district","name":"Armoury
        District","time_zone":"America\/Vancouver"},{"identifier":"btc","name":"Broadway
        Tech Centre","time_zone":"America\/Vancouver"},{"identifier":"cityhall"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=49.2864661,-123.113481%7C49.32630295,-123.1510363%7C49.27886813,-122.84993495%7C49.25124743,-122.73278328%7C49.26236946,-123.16156986%7C49.02409105,-122.38136837%7C49.22087303,-122.59259977%7C49.27539746,-123.20713676%7C49.26896484,-123.10679839%7C49.1634374,-122.96999053%7C49.2711881,-123.10652102%7C49.70012139,-123.15214401%7C49.2682247,-123.15516618%7C49.26269174,-123.16155208%7C49.28277645,-123.12953759%7C49.27396616,-123.15454891%7C49.26427513,-123.10822711%7C49.20619694,-123.03081561%7C49.12940751,-122.7021485%7C49.2694592,-123.09572105&key=<GOOGLE_MAPS_API_KEY>&origins=49.2797,-123.11556&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Vancouver
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [
              "777 W Cordova St, Vancouver, BC V6C 3S1, Canada",
              "Spirit Trail, West Vancouver, BC V7T, Canada",
              "2799 Murray St, Port Moody, BC V3H 3R5, Canada",
              "550 Sherling Pl, Port Coquitlam, BC V3E 3G7, Canada",
              "2690 Larch St, Vancouver, BC V6K 4K9, Canada",
              "1190 Cornell St, Abbotsford, BC V2T 6H5, Canada",
              "22715 Dewdney Trunk Rd, Maple Ridge, BC V2X 3K3, Canada",
              "4445 NW Marine Dr, Vancouver, BC V6R 1B7, Canada",
              "110 W 2nd Ave, Vancouver, BC V5Y 1C2, Canada",
              "1608 Cliveden Ave, Delta, BC V3M 6P1, Canada",
              "1650 Manitoba St, Vancouver, BC V5Y 0B8, Canada",
              "Cleveland at Winnipeg (NB), Squamish, BC V8B, Canada",
              "1979 Yew St, Vancouver, BC V6K 4R9, Canada",
              "2463 W 10th Ave, Vancouver, BC V6K 2J3, Canada",
              "Nelson Park, 1030 Bute St, Vancouver, BC V6E 1J2, Canada",
              "Kitsilano Beach Park, 1499 Arbutus St, Vancouver, BC V6J 5N2, Canada",
              "Jonathan Rogers Park, 110 W 7th Ave, Vancouver, BC V5Y 1L7, Canada",
              "3505 Preston Ave, Vancouver, BC V5S 4P8, Canada",
              "7003 188 St, Surrey, BC V4N 3G6, Canada",
              "430 Industrial Ave, Vancouver, BC V6A 2P3, Canada"
           ],
           "origin_addresses" : [ "775 Hamilton St, Vancouver, BC V6B 6B3, Canada" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "0.7 mi",
                          "value" : 1103
                       },
                       "duration" : {
                          "text" : "5 mins",
                          "value" : 284
                       },
                       "status" : "OK"
                    },
                    {
                       "distance" : {
                          "text" : "5.5 mi",
                          "value" : 8892
                       },
                       "duration" : {
                          "text" : "16 mins",
                          "value" : 986
                       },
  [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=49.25472922,-123.12146339%7C49.73903605,-123.13362298%7C49.22044761,-122.59034468%7C49.27113141,-123.10907235%7C49.27141722,-123.10915501%7C49.27121762,-123.10659442%7C49.27697621,-122.84330003%7C49.27446182,-123.20988752%7C49.28702476,-123.11678901%7C49.28677363,-123.11771223%7C49.26077256,-123.04292612%7C50.15376577,-122.96176807%7C49.13189853,-122.32331896%7C49.23229015,-123.03045336%7C49[...]
