---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=40.6905615,-73.9976592&key=AIzaSyAfiQsGnxkbWoEsP0vx1xq_DYFMIx8zEIk&origins=40.6655101,-73.89188969999998&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "339 Hicks St, Brooklyn, NY 11201, USA" ],
           "origin_addresses" : [ "P.O. Box 793, Brooklyn, NY 11207, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "6.5 mi",
                          "value" : 10423
                       },
                       "duration" : {
                          "text" : "33 mins",
                          "value" : 1958
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 17 May 2021 14:17:25 GMT
recorded_with: VCR 6.0.0
