---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<COORD_KEY>&location=898%20W%20Broadway%20Vancouver%20V5Z%201J8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:  =
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 24 May 2021 19:33:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"898
        W Broadway Vancouver V5Z 1J8"},"locations":[{"street":"898 W Broadway","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Vancouver","adminArea5Type":"City","adminArea4":"Greater
        Vancouver","adminArea4Type":"County","adminArea3":"BC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"V5Z
        1J8","geocodeQualityCode":"P1ABA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"L","linkId":"r46355279|p204240215|n63201388","unknownInput":"","type":"s","latLng":{"lat":49.263345,"lng":-123.123713},"displayLatLng":{"lat":49.263169,"lng":-123.123715},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<COORD_KEY>&type=map&size=225,160&locations=49.263345,-123.123713|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1010071150"}]}]}'
  recorded_at: Mon, 24 May 2021 19:33:04 GMT
recorded_with: VCR 6.0.0
