---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<COORD_KEY>&location=898%20W%20Broadway%20V5Z%201J8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 24 May 2021 19:21:51 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"898
        W Broadway V5Z 1J8"},"locations":[{"street":"898 W Broadway, V5Z","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Woodmere","adminArea5Type":"City","adminArea4":"Nassau","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"11598-2044","geocodeQualityCode":"P1AXC","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"L","linkId":"r32114308|p50096737|n43279960","unknownInput":"","type":"s","latLng":{"lat":40.633548,"lng":-73.714308},"displayLatLng":{"lat":40.633642,"lng":-73.714393},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<COORD_KEY>&type=map&size=225,160&locations=40.633548,-73.714308|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1011577045"},{"street":"898
        W Broadway, V5Z","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Franklin","adminArea5Type":"City","adminArea4":"Howard","adminArea4Type":"County","adminArea3":"MO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"65250","geocodeQualityCode":"L1AXC","geoc[...]
